<div class="d-flex h-100">

  <!-- Sidebar -->
  <div class="sidebar bg-pink d-flex flex-column align-items-center py-3">

    <!-- Herramientas -->
    <button mat-icon-button (click)="selectTool('brush')" title="Pincel">
      <img src="img/pincel.png" alt="Pincel" class="tool-icon">
    </button>

    <button mat-icon-button (click)="selectTool('text')" title="Texto">
      <img src="img/texto.png" alt="Texto" class="tool-icon">
    </button>

    <button mat-icon-button (click)="selectTool('shape')" title="Formas">
      <img src="img/forma.png" alt="Formas" class="tool-icon">
    </button>

    <button mat-icon-button (click)="selectTool('image')" title="Imagen">
      <img src="img/subir.png" alt="Imagen" class="tool-icon">
    </button>

    <!-- Selector de forma -->
    <div *ngIf="selectedTool === 'shape'" class="mt-2 d-flex flex-column align-items-center">

      <button mat-button (click)="selectedShape='square'">
      <img src="img/1cuadra.png" alt="Formas" class="tool-icon">
      </button>

      <button mat-button (click)="selectedShape='circle'">
      <img src="img/2circu.png" alt="Formas" class="tool-icon">
      </button>

      <button mat-button (click)="selectedShape='triangle'">
      <img src="img/3trian.png" alt="Formas" class="tool-icon">
      </button>

    </div>

    <!-- Controles de pincel -->
    <div class="mt-3 d-flex flex-column align-items-center">
      <label>Color:</label>
      <input type="color" [(ngModel)]="brushColor">

      <label class="mt-2">Grosor:</label>
      <input type="range" min="1" max="20" [(ngModel)]="brushSize">
    </div>

  </div>

  <!-- Área de dibujo -->
  <div class="canvas-area flex-grow-1 p-2">
    <canvas #canvas class="border w-100 h-100"></canvas>
  </div>

</div>
