h1, p {
    color: white;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}



mat-grid-tile {
    background: rgb(88, 8, 19);
}


.cuadri {
    margin: 80px;
}