h1, p {
    color: white;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.cuadri {
    margin: 85px;
}

.carousel-item{
    padding: 50px;
}

.collage{
    height: 100%;
}


.boton{
    color: rgb(214, 125, 255);
    text-shadow:
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black;
}
