<div class="p-5 text-center bg-body-tertiary rounded-3">

  <img src="img/cet30.png" alt="cet30" width="200" height="200" aria-hidden="true">
  <h1 class="text-body-emphasis">Estudiantes CET n° 30</h1>
  <p class="col-lg-8 mx-auto fs-5 text-muted">
    6to 4ta, Creacion de pagina WEB en taller Programacion II
  </p>
  <div class="d-inline-flex gap-2 mb-5"> <button
      class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
      Ver creaciones <svg class="bi ms-2" width="24" height="24" aria-hidden="true">
        <use xlink:href="#arrow-right-short"></use>
      </svg>
    </button>
  </div>
</div>