<body>
    <h1 class="text">Carrito de Compras</h1>

    <div *ngIf="productoEnCarrito.length === 0" class="alert alert-warning text-center">
        <p>No hay productos en el carrito </p>
    </div>

    <div *ngIf="productoEnCarrito.length > 0" class="container">
        <table class="table table-hover table-bordered align-middle text-center">
            <thead>
                <tr>
                    <th >Imagen</th>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="tabla">
                <tr *ngFor="let item of productoEnCarrito;let i = index">
                    <td>
                        <img [src]="item.producto.img" alt="{{item.producto.nombre}}" class="img-thumbnail"
                            style="width: 70px; height: 70px;">
                    </td>
                    <td class="fw-bold">{{item.producto.nombre}}</td>
                    <td>{{item.producto.categoria}}</td>
                    <td>{{item.producto.precio }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Cantidad">
                            <button class="btn btn-outline-danger btn-sm" (click)="quitarCantidad(i)">-</button>
                            <span class="px-2">{{item.cantidad}}</span>
                            <button class="btn btn-outline-success btn-sm" (click)="agregarCantidad(i)">+</button>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger btn-sm" (click)="eliminarProducto(item.producto.id)">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-end mt-4" *ngIf="productoEnCarrito.length > 0">
            <h4 class=" fw-bold">Total : {{calcularTotal()}}</h4>
            <button class="btn btn-primary mt-2" (click)="irAFormularioCompra()">
                <i class="bi bi-cart-check"> Realizar Compra</i>
            </button>
        </div>
    </div>


<!-- From Uiverse.io by JkHuger --> 
			
	<div class="piggy-wrapper">
		<div class="piggy-wrap">
			<div class="piggy">
				<div class="nose"></div>
				<div class="mouth"></div>
				<div class="ear"></div>
				<div class="tail">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="eye"></div>
				<div class="hole"></div>
			</div>
		</div>
		<div class="coin-wrap">
			<div class="coin">$</div>
		</div>
		<div class="legs"></div>
		<div class="legs back"></div>
	</div>






</body>