<footer class="py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a routerLink="/inicio" class="nav-link px-2">Inicio</a></li>
    <li class="nav-item"><a routerLink="/productos" class="nav-link px-2">Productos</a></li>
    <li class="nav-item"><a routerLink="/contacto" class="nav-link px-2">Contacto</a></li>
    <li class="nav-item"><a routerLink="/quienessomos" class="nav-link px-2">Quienes Somos</a></li>
  </ul>
  <p class="text-center">© 2025 Compañía, Inc</p>
</footer>
